.Book {
    width: 170px;
    min-height: 200px;
  }
  
  .Book > img {
    height: auto;
    width: 150px;
  }
  
  .Book > header {
    height: 70px;
  }
  .Books{
    display: flex;
    height: 200px;
  }